---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Section.astro';
import Badge from '../components/icons/Badge.astro';
import Linkedin from '../components/icons/linkedin.astro';
import Github from '../components/icons/github.astro';
import Correo from '../components/icons/correo.astro';
import About from '../components/About.astro';
import Educacion from '../components/Educacion.astro';
import Hero from '../components/Hero.astro';
import Keyboard from '../components/Keyboard.astro';
import Proyects from '../components/Proyects.astro';
import Skills from '../components/Skills.astro';
import Section from '../components/Section.astro';


---

<Layout title="My CV">
	<main class="relative m-16 flex flex-col gap-20 w-full">
		<Section>
			<Hero></Hero>
		</Section>
		<Section title="Educacion">
			<Educacion></Educacion>
		</Section>
		<Section title="Sobre mi">
			<About></About>
		</Section>
		<Section>
			<Proyects title="Mis proyectos"></Proyects>
		</Section>
		<Section>
			<Skills></Skills>
		</Section>
	</main>
		<footer class="fixed bottom-0 bg-slate-200 w-screen">
			<Keyboard></Keyboard>
		</footer>
		
</Layout>

<style>
	.badger{
		display: flex;
		justify-content: center;
		align-items: center;

	}
	
	
	
</style>

<!--
<main class="flex flex-col">
	<section class="flex flex-col p-40">
		<img class="rounded-full w-1/12 shadow-2xl" src="../../public/imagen2.jpg" alt="Mi foto" >
		<h1 class="text-black text-4xl font-bold flex flex-row justify-center text-center gap-x-1 pb-2">
			
			Hola, soy Facundo <span class="badger"><em class="flex flex-wrap"><Badge >Estoy disponible para trabajar</Badge></em></span>
		</h1>
		<h2>Desarrollador web y creador de contenido, De Argentina </h2>
		<nav class="flex flex-row gap-6 justify-center items-center ">
			<a class="flex flex-row justify-center items-center" href="https://www.linkedin.com/in/facundo-cortez-9814172a1/">
				
					<Linkedin></Linkedin>
				
				<h3>LinkedIn</h3>
			</a>
			<a class="flex flex-row justify-center items-center" href="https://github.com/Facundo080808">
				<Github></Github>
				<h3>Github</h3>
			</a>
			<a class="flex flex-row justify-center items-center" href="">
				<Correo></Correo>
				<h3>cortezfacundo08@gmail.com</h3>
			</a>
		</nav>
	</section>
	
</main> -->