---
import {basics } from "../cv.json"
import Linkedin from "./icons/linkedin.astro";
import Github from "./icons/github.astro";
import Correo from "./icons/correo.astro";
const {name , label  } = basics;
const {region , country} = basics.location;
---

<section class="flex flex-col w-full mx-auto justify-center  whitespace-nowrap ">
    
        
            <h1 class="text-5xl">{name}</h1>
            <h2>{label}</h2>
            <h3>📍{region}, {country}</h3>
            <article class="flex flex-row justify-start items-center gap-4">
               <figure class="shadow-lg p-1 hover:scale-125 transition-all">
                <a href="https://www.linkedin.com/in/facundo-cortez-9814172a1/"><Linkedin ></Linkedin></a>
               </figure>
               <figure class="shadow-lg p-1 hover:scale-125 transition-all">
                <a href="https://github.com/Facundo080808"><Github></Github></a>
               </figure>
                <figure class="shadow-lg p-1 hover:scale-125 transition-all">
                    <a href="https://twitter.com/theDev12345"><Correo></Correo></a>
                </figure>
                
            </article>
    
      
       
            
</section>


